* {
  box-sizing: border-box;
}

body {
  background: #020617;
  color: #e5e7eb;
  font-family: monospace;
  padding: 40px;
}

header {
  margin-bottom: 20px;
}

header h1 {
  font-size: 32px;
}

#terminal {
  background: black;
  padding: 20px;
  border-radius: 12px;
  max-width: 900px;
}

input {
  width: 100%;
  background: black;
  color: #22c55e;
  border: none;
  outline: none;
  font-size: 15px;
  font-family: monospace;
}

pre {
  max-height: 420px;
  overflow-y: auto;
}
